<div
  id="carouselExample"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="4000"
  data-bs-pause="hover"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div><img src="/banner/banner1.png" class="d-block" alt="banner1" /></div>
    </div>
    <div class="carousel-item">
      <div><img src="/banner/banner2.png" class="d-block" alt="banner2" /></div>
    </div>
    <div class="carousel-item">
      <div><img src="/banner/banner3.png" class="d-block" alt="banner3" /></div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
