<div class="page-titles">
  <img src="/titulos/acerca_title.png" alt="" />
</div>
<div class="acerca-text">
  <p>
    En <img src="logo.png" alt="" />, convertimos la pasión por los sneakers en
    un estilo de vida. Nacimos durante la pandemia, en un momento de
    incertidumbre global, pero también de reinvención y nuevas oportunidades. Lo
    que comenzó como un pequeño proyecto desde casa, inspirado en la cultura
    urbana y el amor por los tenis, hoy es una tienda en línea dedicada a
    ofrecer los mejores modelos del mercado.
  </p>
  <p>
    Desde clásicos atemporales hasta lanzamientos exclusivos, nuestro objetivo
    es acercarte los sneakers que definen tendencia, identidad y actitud. Cada
    par que vendemos representa más que solo calzado: es una declaración de
    estilo, una historia y una comunidad que comparte el mismo entusiasmo por el
    diseño, la comodidad y la autenticidad.
  </p>
  <p>
    En Sneaker Fever no solo vendemos tenis. <span>Vivimos la fiebre por los sneakers</span>.
  </p>
</div>
