.sneaker-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3%;
  row-gap: 1rem;
  width: 100%;
  align-items: start;
  justify-content: center;
}

.categoria-selector {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.content-container {
  display: flex;
  background-color: var(--yellowSF);
  border: var(--redSF) 0.5rem solid;
  padding: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  font-weight: bold;
  justify-content: space-between;
}

h2 {
  color: var(--yellowSF);
  text-shadow: -0.125rem -0.125rem 0 var(--redSF),
    0.125rem -0.125rem 0 var(--redSF), -0.125rem 0.125rem 0 var(--redSF),
    0.125rem 0.125rem 0 var(--redSF);
    text-align: center;
}
