<div class="page-titles">
  <img src="/titulos/contacto_title.png" alt="" />
</div>
<div class="contacto-container">
  <h3>📞 Información de Contacto - <span>Sneaker Fever</span></h3>
  <h5>
    ¿Tienes dudas, comentarios o simplemente quieres platicar de sneakers?
    ¡Estamos aquí para ti! Ponte en contacto con nosotros por cualquiera de
    nuestras vías:
  </h5>
  <div class="ctc-bundle">
    <p class="att-text">✉️ Correo electrónico</p>
    <p><a href="#">contacto&#64;sneakerfever.mx</a></p>
  </div>
  <div class="ctc-bundle">
    <p class="att-text"><i class="fa-brands fa-whatsapp"></i> WhatsApp</p>
    <p>+52 55 1234 5678</p>
    <p style="font-style: italic">
      Atención de lunes a sábado de 9:00 a.m. a 6:00 p.m.
    </p>
  </div>
  <div class="ctc-bundle">
    <p class="att-text">📍 Dirección</p>
    <p>Sneaker Fever CDMX</p>
    <p>Av. de los Sneakers 101, Col. Estilo, CDMX, México</p>
  </div>
  <div class="ctc-bundle">
    <p class="att-text">🌐 Redes Sociales</p>
    <p>Síguenos y únete a la fiebre por los sneakers en nuestras redes:</p>
    <ul>
      <li>
        <p class="redes-txt">
          <i class="fa-brands fa-instagram"></i> Instagram:
          <a href="#">&#64;sneakerfevermx</a>
        </p>
      </li>
      <li>
        <p class="redes-txt">
          <i class="fa-brands fa-facebook"></i> Facebook:
          <a href="#">/sneakerfevermx</a>
        </p>
      </li>
      <li>
        <p class="redes-txt">
          <i class="fa-brands fa-tiktok"></i> Tiktok:
          <a href="#">&#64;sneakerfevermx</a>
        </p>
      </li>
      <li>
        <p class="redes-txt">
          <i class="fa-brands fa-x-twitter"></i> X (Twitter):
          <a href="#">&#64;sneakerfevermx</a>
        </p>
      </li>
    </ul>
  </div>
</div>
