.form-container {
    background-color: white;
    border: var(--redSF) 0.5rem solid;
    padding: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
  }
  
  .form-adjust {
    display: flex;
    width: 50%;
    margin: 0 auto;
  }
  
  .form-field {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .btn-submit {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--redSF);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 50%;
    align-self: center;
  }
  
  .btn-submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .btn-submit:hover:enabled {
    background-color: #b41d1a;
  }
  
  .val-error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  
  #btn-container {
    display: flex;
    justify-content: center;
  }
  
  h1{
    color: var(--yellowSF);
    text-align: center;
  } 